 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
 <script src="{{ "js/main.js" | relURL }}"></script>
 <script src="{{ "js/jquery.maskedinput.min.js" | relURL }}"></script>
 <script src="{{ "js/common.js" | relURL }}"></script>
 <script src="{{ "js/utils.js" | relURL }}"></script>
 <script src="{{ "js/scrolling.js" | relURL }}"></script>
 <script>new WOW({mobile:false}).init();</script>